.App {
  height: 100vh;
  width: 80vw;
  background-color: #E5E5E5;
  margin: 0 auto;
}

.top-red
  {
  background-color: #FF7878;
  height: 3rem;
  width: 80vw;
  position: absolute;
}

.bot-red
  {
  background-color: #FF7878;
  height: 3rem;
  width: 80vw;
  position: absolute;
  bottom: 0;
}


.content {
  display: grid;
  justify-content: center;
}

.text{
  font-size: 1.75rem;
  margin: 2rem 6rem;
}


.btns {
  display: grid;
  margin: auto;
  margin-top: 2rem;
  margin-left: 12rem;
  grid-column: span 2;
  grid-template-columns: 50% 50%;
  }

  button:disabled { cursor: default; }

  button {
  justify-self: center;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 0;
  border: 0;
  background-color: #FF7878;
  height: 2.5rem;
  padding: 1rem;
  line-height: 0rem;
  width: fit-content;
  /* height: fit-content; */
  }

  button:hover {
  background-color: #BBB;
  }